body {
  margin: 0px;
}

/* Nav Bar */
nav {
  position: fixed;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  top: 0;
  width: 100%;
}

li {
  list-style: none;
  font-size: 24px;
  display: inline;
}

a {
  color: white;
}

/* Home Page Intro */
header {
  background-size: 100% 100%;
  background: url('https://image.redbull.com/rbcom/010/2015-12-02/1331763041375_1/0010/1/1500/1000/1/does-esports-need-a-players%E2%80%99-union.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 15% 0;
}

.intro {
  margin: auto;
  width: 80%;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  min-width: 610px;
}

/*Vertical Align aligns in relation to the line height
so line height needs to equal outer div height(300px)*/
.intro span {
  color: white;
  font-size: 3em;
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  height: inherit;
}

/* Middle About Section */
.mid {
  height: 500px;
  background-color: black;
  color: white;
}

.mid span {
  position: relative;
  top: 50%;
  display: block;
  text-align: center;
  font-size: 25px;
}

/* Bottom Section */
.tab-games, .tab-events, .tab-profiles {
  float: left;
  height: 500px;
  width: 33%;
  text-align: center;
  border-right: black solid 1px;
}

/* Game Image Fade In */
.tab-games {
  /*position: absolute;
  top: 0px;
  left: 50%;
  margin: auto;*/
}

.tab-games img {
  position: absolute;
  left: 0;
  top: inherit;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 24s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 24s;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}

#img1, #img2, #img3 {
  width: inherit;
  height: inherit;
}
#img2 {
  -webkit-animation-delay: -16s;
}
#img3 {
  -webkit-animation-delay: -8s;
}
