body {
  margin: 0;
  margin-top: -1.1%;
}

/* Home Page Intro */
header {
  background-size: 100% 100%;
  background: url('https://image.redbull.com/rbcom/010/2015-12-02/1331763041375_1/0010/1/1500/1000/1/does-esports-need-a-players%E2%80%99-union.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 15% 0;
}

/* NavBar */
nav {
  position: fixed;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  top: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

nav ul{
  list-style-type: none;
  width: auto;
  padding: 0;
}

nav li {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  margin-right: 3%;
  margin-top: .5%;
}

nav a {
  color: white;
  padding-top: 2%;
  text-decoration: none;
}

nav a:hover{
  border-bottom: 1px solid white;
}

.intro {
  margin: auto;
  width: 80%;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  min-width: 610px;
}

/*Vertical Align aligns in relation to the line height
so line height needs to equal outer div height(300px)*/
.intro span {
  color: white;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  height: inherit;
}


/* Middle About Section */
.mid {
  height: 500px;
  background-color:  #1a1a1a;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.mid span {
  position: relative;
  top: 25%;
  display: block;
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
}


/* Bottom Section */
.tabs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tab-games, .tab-events, .tab-teams {
  height: 500px;
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;

  flex-grow: 1;
  flex-basis: 33.26%;
  align-self: center;
}

.tab-events{
  background-image: url('https://i.imgur.com/7AIJSaS.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Game Image Fade In */
.tab-games span, .tab-teams span {
  position: relative;
  top: inherit;
  left: 66%;
  z-index: 1;
  margin: auto;
}

.tab-games img, .tab-teams img {
  position: absolute;
  left: 0;
  width: 33%;
  top: inherit;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 30s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 12s;
}

.tab-teams img{
  left: 66.6%;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}

#img2, #img5 {
  -webkit-animation-delay: -16s;
}
#img3, #img6 {
  -webkit-animation-delay: -8s;
}


/*MOBILE*/

@media only screen and (max-width: 500px) {
  .tabs{
    display: block;
    width: 100%;
    height:auto;
  }
}
